td.htd {
    color:              #FFFFFF;
    background-color:   #bb8877;
}
tr.htr {
    color:              #FFFFFF;
    background-color:   #bb8877;
}
td.vtd {
    background-color:   #ffefdb;
}
tr.vtr {
    background-color:   #ffefdb;
}
